name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        include:
          - { platform: macos-15, arch: arm64, os: macos }
          - { platform: macos-15-intel, arch: x64, os: macos }
          - { platform: ubuntu-24.04, arch: x64, os: linux }
          - { platform: ubuntu-24.04-arm, arch: arm64, os: linux }
          - { platform: windows-2022, arch: x64, os: windows }
    runs-on: ${{ matrix.platform }}    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: false
      
      - name: Run tests
        run: go test ./... -timeout 5m -cover -race
